/**
 * All your custom CSS should go into this file
 */

/* ----------------------- global  -----------------------*/
html,body{
    height: 100%
}

body {
    background-color: #474747;
    overflow:scroll;
}


#main-content{
    min-height: 100%;
    background-color: #FFF;
    margin: 0 auto -40px;
    background-image: url('../images/font.png');
}

.contenu{    
    min-height: 100%;
    height: 100%;
    padding: 10px 30px 0px 30px;
    color: #000;
}

header{
    text-align: center;
    background-image: url('../images/amam_v1_trns.png');
    background-position: center;
    height: 110px;
    background-repeat: no-repeat;
}

.img-content{
    margin-bottom: 10px;
}

.photo_ident{
    height: 132px;
    width: 100px;
}

#social-media-icons {
    margin: 36px 50px 0 0;
    text-align: center;
    float: right;   
}

a.social-media-icon {
    background-position: 0 0;
    display: inline-block;
    height: 32px;
    margin-right: 6px;
    overflow: hidden;
    text-indent: -1000px;
    transition: background-position 0.25s ease 0s;
    width: 32px;
}

a.social-media-icon:hover {
    background-position: 0 -32px;
}

.facebook {
    background-image: url("../images/facebook.png");
}

.twitter{
    background-image: url("../images/twitter.png");
}

.G-Plus{
    background-image: url("../images/g-plus.png");
}

.youtube{
    background-image: url("../images/youtube.png");
}
/* ----------------------- global end --------------------*/

/* ----------------------- pied de page  -----------------------*/
.footer {
    line-height: 10px;
    padding: 10px 10px 5px 10px;
    height:25px;
    background-color: #7DCFF9;
    position: relative;
    bottom: 0;
} 

.copyright{
    padding-top: 5px; 
}

.footer-link{
   list-style: none;
   text-align: right;
}

.footer-link li{
   margin-right: 10px;
   display: inline;
}

/* ----------------------- pied de page end --------------------*/


.bloc, .bloc-title-event{
    background-color: rgba(125, 207, 249, 0.4); /*#7DCFF9*/
    list-style: none;
    text-align: right;
    margin-bottom: 10px;
}

.bloc{
    padding: 10px 15px 0 15px;
    height: 150px;
}

.bloc-title-event{
    padding: 40px;
}

.bloc-title{
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
    background-color: rgba(39, 160, 248, 0.5); /*#27A0F8*/
}

.bureau{
    background-color: rgba(39, 160, 248, 0.5); /*#27A0F8*/
}

.pres{
    padding: 10px 15px 10px 15px;
    margin-bottom: 10px;
    background-color: rgba(125, 207, 249, 0.4); /*#7DCFF9*/
    height: 300px;
}

.title-pres{
    text-align: center;
    font-weight: bold;
}

.title-pres2{
    text-align: left;
    text-decoration: underline;
}

.text-pres{
    text-align: center;
}

.text-pres2{
    text-align: justify;
}

#zone{
    border-collapse:separate;
    margin-bottom: 40px;
}